
{
    -fx-primary : #2A2E37;
    -fx-secondary : #bd200c;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-green:#2E7D32;
}

.root{
    -fx-background-color: -fx-primary;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: #798dad;

    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}

.button:hover{
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-text-fill: -fx-secondary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}


/*Main Screen CSS Styling starts here*/

/*TabPane styling*/
.tab{
    -fx-pref-width : 350;
    -fx-pref-height : 60;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label {
    -fx-text-fill: #FFFFFF ;
}

.jfx-tab-pane .tab-selected-line{
    -fx-background-color: -fx-secondary;
}

/* Slider style*/
.jfx-slider .thumb{
 -fx-background-color: #2A2E37;
 -fx-background-image :url('../pod1.png');
 -fx-pref-height: 37.5;
 -fx-pref-width: 90;
}

.jfx-slider:disabled {
     -fx-opacity: 1.0;
}

.jfx-slider > .colored-track {
     -fx-background-color: #bd200c;
}

.slider .axis { -fx-tick-label-fill: #B2B2B2; }

.jfx-slider > .animated-thumb {
     -fx-background-color: #B2B2B2;
}

.jfx-slider .slider-value {
     -fx-fill: #FFFF8D;
     -fx-stroke: #FFFF8D;
}

/* Textfield style*/

.text-input {
    -fx-text-fill: -fx-secondary;
    }

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}


